.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.box-small {
  width: 60px;
  height: 60px;
}

.box-medium {
  width: 90px;
  height: 90px;
}

.box-large {
  width: 120px;
  height: 120px;
}
